/*
Theme Name: Mozambique Afro Swing Exchange
Description: Mozambique Afro Swing Exchange Custom Theme
Author: cleverstarfish.com

Colors
Purple		: rgb(215, 30, 73)	rgb(97, 30, 58) 
Red		: rgb(0, 0, 0)	rgb(215, 60, 63)   
Turquoise	: #00A0B0   rgb(0, 160, 176)   #107071 rgb(16, 112, 113) 
Yellow		: rgb(206, 246, 97)   rgb(255, 243, 0)  #E4C693 rgb(228, 198, 147) 

Fonts
body Karla 
canada-type-gibson


/* = = =  RESET  = = = = = = = = = = = = = = = = = = = */
 
* {
	margin: 0;
	padding: 0;
	border: 0;
	}
html{

}

blockquote, q {
	quotes: none;
	}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}

tabel {
	border-collapse: collapse;
	border-spacing: 0;
    max-width: 100%;
	}
	
	
/* = = =  BASICS  = = = = = = = = = = = = = = = = = = = */

body {
	background: rgb(16, 112, 113) ;
	width: 100%;
	margin: 0 auto;
	font-family: "canada-type-gibson",san-serif;
	font-style: normal;
	font-size: 16px;
	color: rgb(228, 198, 147)  ;
	}

a:link {
	color:rgb(0, 0, 0); 
	text-decoration: none;
	}
	
a:visited {
	color:rgb(0, 0, 0); 
	text-decoration: none;
	}

a:hover {
	color:rgb(0, 0, 0);
	}

h1, h2, h3, h4, h5, h6, .meta, #menu li {	
	font-family: "canada-type-gibson",san-serif;	
	font-style: normal;
	font-weight:700;
	line-height: 1.1em;
	padding-top: 0.333em;	
	padding-bottom: 0.666em;	
	}

h1, .blogt1 {	
	font-size: 5em;
	font-weight:900;	
	}
	
h2, blogt2 {	
	font-size: 2.986em;
	}
	
h3 {	
	font-size: 2.488em;	
	}

h4 {
	font-size: 2.074em;
	}

h5 {	
	font-size: 1.728em;
	}

h6, .meta {
	font-size: 1.44em;
	}

p,li {
	font-family:'canada-type-gibson',san-serif;
	font-size:1.2em;
	margin-bottom: 1.5em;
	line-height: 1.618em;
	}

li {
	margin-bottom: 1em;
	line-height: 1.5em;
	}		

strong {
	font-weight: 700;
	}

em {
	font-style: italic;
	}

hr {
	border-top: solid 3px rgb(16, 112, 113) ;
    margin: 2em 0;	
	}

blockquote {
	font-style: normal;
	}

blockquote p {
	font-weight: 600;
	font-family: "canada-type-gibson",san-serif;
	font-size: 1.3em;
	padding: 0em;
	margin: 1em;
	}

/* = = =  WORDPRESS SPECIFIC  = = = = = = = = = = = = = = = = = = = */
	

	
/* = = =  ANIMATION AND EFFECTS = = = = = = = = = = = = = = = = = = = */

@keyframes fadein {
	from {opacity:0;} 
	to {opacity:1;}
}
.ani-fi-500 {animation: fadein 500ms;}
.ani-fi-750 {animation: fadein 750ms;}
.ani-fi-1000 {animation: fadein 1000ms;}
.ani-fi-1250 {animation: fadein 1250ms;}
.ani-fi-1500 {animation: fadein 1500ms;}
.ani-fi-1750 {animation: fadein 1750ms;}
.ani-fi-2000 {animation: fadein 2000ms;}
.ani-fi-2250 {animation: fadein 2250ms;}
.ani-fi-2500 {animation: fadein 2500ms;}
.ani-fi-2750 {animation: fadein 2750ms;}
.ani-fi-3000 {animation: fadein 3000ms;}	
.ani-fi-3250 {animation: fadein 3250ms;}
.ani-fi-3500 {animation: fadein 3500ms;}
.ani-fi-3750 {animation: fadein 3750ms;}
.ani-fi-4000 {animation: fadein 4000ms;}

@keyframes fadeout {
	from {opacity:1;} 
	to {opacity:0;}
}
.ani-fo-500 {animation: fadeout 500ms}

@keyframes contentin {
	from {opacity:0;margin-top:11px} 
	to {opacity:1;margin-top:0px}
}
.ani-content-in {animation: contentin 1000ms;}


.wave-1{
  position: relative;
  z-index:11;	
}
.wave-1::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, rgb(0, 0, 0) 13px);
}
.wave-1::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, rgb(0, 0, 0) 12px, transparent 13px);
}

.wave-2{
  position: relative;
  z-index: 11;  
}
.wave-2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, rgb(16, 112, 113) 13px);
}
.wave-2::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:radial-gradient(circle at 10px 15px, rgb(16, 112, 113) 12px, transparent 13px);
}

.wave-3{
  position: relative;
  z-index: 11;  
}
.wave-3::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:radial-gradient(circle at 10px -5px, transparent 12px, rgb(228, 198, 147) 13px);
}
.wave-3::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:radial-gradient(circle at 10px 15px, rgb(228, 198, 147) 12px, transparent 13px);
}

.wave-color-1{}

/* = = =  BUTTONS  = = = = = = = = = = = = = = = = = = = */

.button {
	border:0 none;
	color: rgb(228, 198, 147);
	cursor:pointer;
	display:inline-block;
	font-family: "canada-type-gibson",san-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 900;
	border-top-right-radius: 4em;
	border-bottom-right-radius: 4em;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	margin: 0 0 0 0;
	padding: 1.1em 1.4em 1.1em 1.3em;
	text-align: center;
	text-transform: uppercase;
	background:rgb(0, 0, 0); 
	}
	
.button a, .button a:link, .button a:visited, .button a:active {
	color: rgb(228, 198, 147);
	}

.button_left{
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 4em;
	border-bottom-left-radius: 4em;
	}	

/* = = =  BOXES  = = = = = = = = = = = = = = = = = = = */

.bx-fb-1 {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	background-position: center;
	clear:both;
	}

.bx-fb-2 {
	display: flex;
	align-items: center;
	justify-content: center; 
	flex-direction: row; 
	flex-wrap: wrap; 
	flex-flow: row wrap; 
	align-content: flex-end; 	
	clear:both;
	}

.bx-fb-3 {
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap; 
	flex-flow: row wrap; 
	align-content: flex-end; 	
	}

	
	
/* = = =  HEADER  = = = = = = = = = = = = = = = = = = = */



/* = = =  VIDEO  = = = = = = = = = = = = = = = = = = = */
* { box-sizing: border-box; }

.video-background {
	background: #000;
	position: absolute;
	z-index: -99;
	top:0;left:0;bottom:0;right:0;
	}

.video-foreground {
	object-fit: cover;
	}

.video-background iframe {
	position: absolute;
	pointer-events: none;
	}

/* = = =  NAV  = = = = = = = = = = = = = = = = = = = */

/*
 * Nav made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 
 */
nav {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 100;
	max-height:50px;
	}

#nav-button-bg-wrap{
	position:fixed;
	width:100%;
	}
	
#nav-button-bg {
	margin: auto;
	display:block;
	border-radius:0 0 40px 40px;
	background:rgb(0, 0, 0);
	width:50px;
	height:50px;
	} 
	
#menuToggle {
	display: block;
	position: relative;
	top: 10px;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	max-height: 1px;
	}

#menuToggle input {
	display: block;
	width: 60px;
	height: 50px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	-webkit-touch-callout: none;
	}

/*
 * Just a quick hamburger
 */
#menuToggle span {
	display: block;
	width: 28px;
	height: 4px;
	margin-left: 16px;
	margin-bottom: 5px;
	position: relative;
	background: rgb(228, 198, 147);
	border-radius: 3px;
	z-index: 1;
	transform-origin: 0px 0px;
	transition: 
		transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.1s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.1s ease;
	}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
	}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
	}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(1px, -2px);
	background: rgb(228, 198, 147);
	width:25px;
	}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
	}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(2px, 0);
	width:26px;
	}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
	
#menu{
	position: relative;
	width: 320px;
	margin: -100px 0 0 -128px;
	padding-top: 120px;
	padding-bottom: 25px;
	border-radius: 0 0 180px 180px;
	background: rgb(0, 0, 0);
	list-style-type: none;
	-webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(0, -100%);
	transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
	}

#menu li, #menu li a {
	color: rgb(228, 198, 147);
	list-style:none;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	padding:2px;
	}

#menu li a:hover {
	color: rgb(16, 112, 113) ;
	}
	
#menu li a:active {
	color: rgb(228, 198, 147);
	}

#menu li.current-menu-item > a	{
	color: rgb(16, 112, 113) ;
	}
/*
 * And let's fade it in from the left
 */

#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
	}

.sub-menu-wrap {
	position: relative;	
	z-index:7;	
	display: block;
    	padding: 0em 0em 1.35em 0em;
    	max-width: 768px;
    	margin: -20px auto;
	}	

#sub-menu{
	position: relative;
	margin: 30px auto 5px;
	list-style-type: none;
	-webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
	text-align:center;
	padding: 10px 5px 0px;
	}	
	
#sub-menu li, #sub-menu li a {
	color: rgb(228, 198, 147);
	list-style:none;
	display:inline-block;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	padding: 2px 5px 1px 5px;
	margin-bottom:0px;
	}
	
#sub-menu li a:hover {
	color: rgb(228, 198, 147);
	}
	
#sub-menu li a:active {
	color: rgb(228, 198, 147);
	}
	
#sub-menu li.current-menu-item > a	{
	color: rgb(228, 198, 147);
	}
	
.sub-menu-bgcolor {
	background-color: rgb(0, 0, 0);
	}
	
/* = = =  GLOBAL  = = = = = = = = = = = = = = = = = = = */

.content {
	padding:0px 0px 0px 0px;
	overflow: hidden;
	color: rgb(228, 198, 147);
	}

.color-overlay-pos {
	position: absolute;
	z-index:2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	}	

.color-overlay {
	background: rgba(16, 112, 113,0.80);
	}

	
/* = = =  HOME TEMPLATE  = = = = = = = = = = = = = = = = = = = */

@keyframes logo-in {
	from {opacity:0; height: 35em; padding: 5em 0;} 
	to {opacity:1; height: 40em; padding: 1em 0;}
}
	
.ani-logo-in {animation: logo-in 200ms ease-out 750ms 1 both; position:relative; z-index:12;
}

.ani-logo-in img {
	display:block;
	max-width: 900px;
	max-height: 600px;
	width: auto;
	height: auto;
}	
	
.home-banner { 
	position: relative;
	z-index: 3;
}

.home-banner-logo {
    position: relative;
	z-index: 5;
	display: block;
/*	max-width: 700px;
	max-height: 700px;*/
	}

.home-headline-wrap {
	display:block;
	background: rgb(228, 198, 147);
	width:100%
	}

.home-headline {
	display:block;
	max-width:900px;
	margin: 30px auto;
	padding:0.5em 0.5em;
	font-size: 3.8em;
	font-weight: 900;
	font-family: "canada-type-gibson",san-serif;
	color: rgb(16, 112, 113);
	text-transform: uppercase;
	line-height: 1em;
	}

.home-headline a, .footer-announcement a {
	color: rgb(16, 112, 113);
}

.home-headline-img {
	display:block;
	position:relative;
	max-width:300px;
	max-height:300px;
	float: left;
}

.home-headline-img img {
	position:relative;
	max-width:100%;
}

.home-byline {
	display:block;
	font-size: 0.5em;
    line-height: 1em;
    padding-top: 0.75em;
	}

.home-welcome-wrap {
	width:100%;
	background-color: #00a0b0;
	}	

.home-welcome {
	display:block;
	max-width: 500px;
	padding:3em 0 2em;
	}
.home-welcome-text {
	display:block;
	padding: 1em 0 0 0;
	}
	
.home-welcome p {
	font-size: 1.5em;
	font-weight: 700;
	font-family: "canada-type-gibson",san-serif;
	color: rgb(228, 198, 147);
	line-height:1.3em;
	text-align:justify;
	}

.home-welcome p a {
	color: rgb(0, 0, 0);
	}	

.home-welcome p:first-child:first-letter {
	color: rgb(0, 0, 0) ;
	font-weight: 900;
	float: left;
	font-size: 4em;
	line-height: 50px;
	padding: 18px 10px 0px 0px;
	}
	
.home-welcome-image{
		display:block;
		width:500px;
		height:500px;
		overflow:hidden;
		margin:0 auto;
		padding:2em auto;
		}
		
.home-welcome-image img {
	width:100%;
	}	

.home-quicklink-button-bar {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:center;
	padding: 0em 0.15em 1.7em 0.15em;
	width:100%;
	background-color: rgb(228, 198, 147);
	}

.home-quicklink-button {
	position:relative;
	display:block;
	padding: 0.8em 1.33em;
    margin: 2px 6px;
    border-radius: 35px;	
	color: rgb(228, 198, 147);
	background-color: rgb(0, 0, 0);	
	font-size: 1.5em;
	font-weight:700;
	}
	
.home-quicklink-button a {
	}	

.home-quicklink-button:hover {
	color: rgb(228, 198, 147);
	background-color: rgb(0, 0, 0);
	}	

.home-blog {
	padding: 4em 0em;
	background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(16, 112, 113) 100%);
	}	
	
.home-blog-section {
	margin: auto;
    max-width: 900px;
	padding: 0em 6em;
	color: rgb(228, 198, 147);
	}
	
.home-blog-listing {
	position: relative;
	z-index: 0;	
	margin: auto;
	padding: 1em 0 0 0;
	max-width: 700px;
	}

.home-blog .post {
	max-height: 330px;
	max-width: 900px;	
	}

.home-blog-area-col .post h4 {
	line-height: 0.5em;
	padding-bottom: 30px;
	}
	
.home-blog-area-col .post meta {
	line-height: 0.5em;
	}	

.home-blog-img {
	position: relative;
	display: block;
	max-width: 150px;
	max-height: 150px;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	float: left;
	}

.home-blog-img-bg {
	mix-blend-mode: luminosity;
	opacity: 0.5;
	}
	
.home-blog-title {
	display: block;
	position: relative;
	z-index:1;
	/* bottom: 280px;
	max-width: 440px;
    background-color: #00a0b0; */
    padding: 0 0 0 200px;
	border-radius: 12px;
    /* text-align: left; */
	/* margin-left: 25%; */
	}
	
.home-blog-title .meta {
	color: rgb(228, 198, 147);
	font-weight: 400;	
	}

.home-blog-title h3 {
	margin-top:-30px;
	color: rgb(228, 198, 147) ;
	}
	
.home-content-wrapper {
	width:100%;
	background-color: rgb(228, 198, 147);
	background-position: center;
	background-repeat: repeat-y;
	}

.home-content {
	margin:auto;
	max-width:900px;
	padding: 3em 6em 6em;
	background: rgb(16, 112, 113);
	color: rgb(228, 198, 147);
	}
	
.home-content h1 {
	font-size: 4em;
	}

.home-content h3 {
	text-align:left;
	}
	
.home-content h3 a, .home-content h5 a {
	color: rgb(228, 198, 147);
	}

	
	
/* = = =  REGULAR TEMPLATE  = = = = = = = = = = = = = = = = = = = */

.page-banner {
	position: relative;
	z-index: 1;	
	background-position: center;
	background-color: rgb(0, 0, 0);
	padding: 4em 0em 1.25em;
	display:block;
	}


.page-banner-title {
	position: relative;
	z-index: 3;	
	}

.page-banner-title h1 {	
	color: rgb(228, 198, 147);
	/* text-shadow: 2px 3px rgb(0, 0, 0); */
	text-align:center;
	}
	
.page-subhead {
	background:rgb(16, 112, 113);
	color:rgb(0, 0, 0);
	font-weight: 900;
	padding: 1em 0px;
	text-transform: uppercase;
	letter-spacing:0.25em;
	text-align: center;	
	}	
	
.page-content-wrap {
	position:relative;
	z-index:10;
	/* background: url(/wp-content/themes/boogiedownsouth/_inc/img/pagebg.png); */
	background-color:rgb(16, 112, 113);
	background-position: center;
	}

.page-content {
	margin:auto;
	max-width: 768px;
	padding: 1.5em 4em 3em;
	}
	
.page-content ol, .page-content ul {
	margin: 0 0 1em 3em;
	}
	
.page-cta {
	width:100%;
	padding:25px 0;
	text-align: right;
	}
	
.page-cta-leader {	
	border:0 none;
	display:inline-block;
	font-family: "canada-type-gibson",san-serif;
	font-size: 1.4em;
	font-style: normal;
	font-weight: 700;
	margin: 0 0 0 0;
	padding: 1.1em 1.4em;
	color: rgb(0, 0, 0);
	}

/* = = =  BLOG SINGLE  = = = = = = = = = = = = = = = = = = = */

.blog-nav{
	text-align:center;
	}
	
/* = = =  FOOTER  = = = = = = = = = = = = = = = = = = = */


footer {
	padding: 0 0 100px 0;
	background-color:rgb(0,0,0);
	}
.footer-announcement {
	display:block;
	background: rgb(0, 0, 0) ;
	padding:0.5em 0 0 0;
	font-size: 3.8em;
	font-weight: 900;
	font-family: "canada-type-gibson",san-serif;
	color: rgb(16, 112, 113);
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	}
.footer-menu-wrap {
	width:100%;
	position: relative;	
	}	
.footer-menu-box-title {
	display: block;
	margin: auto;
	max-width: 900px;
    padding: 0.5em 2em;
	}	
.footer-menu-box-title h4 {
	color: #00a0b0;
	}
.footer-menu-box {
	padding: 0em 0em;	
	}	
.footer-sponsors img {	
	width:69px;
	height:69px;
	}
.footer-sponsors {
	width:88px;
	height:88px;
	background-color: rgb(16, 112, 113);
	transition: 250ms;
	}	
.footer-sponsors:hover {
	}	
.footer-organisers{
	max-width:768px;
	color: rgb(228, 198, 147));
	font-size:0.85em;
	margin: 0 auto;
	text-align:center;
	}	
.footer-organisers p a {
	color:rgb(228, 198, 147));
	}
.footer-florish {
	clear:both;
	width:100%;
	text-align: center;
	margin-top:10px;
	}		
#sitebystarfish {
    background: url(/wp-content/themes/masx/_inc/img/site_by_neg.svg) no-repeat center;
    margin: auto;
	display:block;
	width: 100px;
	height: 60px;
	text-align: center;
	overflow: hidden;
	text-indent: -9999em;
	}

	
	
/* = = =  FORMS  = = = = = = = = = = = = = = = = = = = */

.gform_wrapper {
	}

.gform_wrapper ul, .gform_wrapper li, .gform_wrapper label {
	font-family: "canada-type-gibson",san-serif;
	font-size: 1.1em;
	padding: 0;
	margin: 0;
	line-height:0.8em;
	}

.gform_wrapper ul.gfield_radio li label {
	}
	
.gform_wrapper .gsection_description {
	}
	
.gform_wrapper .top_label .gfield_label {
	line-height: 1em;
	}
	
.gform_wrapper .top_label .ginput_total {
	font-size: 1.5em;
	font-weight: 900;
	color: rgb(228, 198, 147);
	margin-top: 10px;	
	}
	
.gform_wrapper .top_label .ginput_container {
	}	

.gform_wrapper .ginput_container .ginput_container_radio ul {
	margin-top: 0;
	}
	
.gform_wrapper .field_description_below .ginput_container_radio {
	margin-top:10px;
	}	
	
.gform_wrapper .gfield {
	margin-top: 0;
	}

.gform_wrapper .gsection {
	margin-top: 60px;
	border-bottom: none;	
	}

.gform_wrapper .gform_fields .gfield{
	padding: 20px 0 0 0;
	}
	
.gform_wrapper .ginput_container .ginput_container_radio {
	padding: 0 0 20px 0;	
	}
	
.gform_wrapper .gform_page_footer .button.gform_previous_button {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 4em;
	border-bottom-left-radius: 4em;
	}

.gform_wrapper .gfield_required {
	color: rgb(228, 198, 147);
	}	
	
/* = = =  GALLERY  = = = = = = = = = = = = = = = = = = = */

.gallery {
	margin: 30px 0px 10px 0px!important;
	}
    
.gallery-item {
	display: inline-block;
	padding: 0;
	vertical-align: top;
	max-width: 150px;
	max-height: 150px;
	} 

	/*
.gallery-item:nth-child(odd) {
	transform: rotate(-4deg);
	}	
	
.gallery-item:nth-child(even) {
	transform: rotate(4deg);
	}	*/

.gallery-item img {
	width: 100%;
	}     

.gallery-item .gallery-caption {
	display: none;
	}

.gallery-item a {
	display: block;
	font-size: 0;
	position: relative;
	}
	
.gallery-item a:hover {
	opacity: 1;
	}

.gallery-item a:before {
	content: '';
	display: block;
	height: 100%;
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity $transition;
	z-index: 1;
	}

.gallery-item:hover a:before {
	box-shadow: inset 0 0 0 3px $primary-color;
	opacity: 1;
	}

.gallery br {
	display: none;
	} 

.gallery .gallery-columns-4 .gallery-item {
	width: 23%;
	}    

.gallery .gallery-columns-2 .gallery-item {
	width: 50%;
	}
	
	
	
/* = = =  MISC  = = = = = = = = = = = = = = = = = = = */

iframe {
	width:100%;
	}	
	
.alignright {
	clear: right;
	float: right;
	margin: 0px 0px 16px 16px;
}

.alignleft {
	clear: left;
	float: left;
	margin: 5px 16px 28px 0px;
}

.wp-caption-text {
	font-style: italic;
	font-size: 0.8em;
	line-height: 1em;
	margin-top: 3px;
	}

a.back-to-top {
	display: none;
	width: 60px;
	height: 53px;
	position: fixed;
	right: 0;
	bottom: 150px;
	background: #00a0b0;
	border-radius: 30px 30px 8px 8px;
	color: rgb(228, 198, 147);
	font-family: "canada-type-gibson",san-serif;
	font-weight: 900;	
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	box-sizing: border-box;
	padding: 28px 0 0;
	text-align: center;
	}

a.back-to-top:hover {
	opacity: 0.8;
	}

a.back-to-top:before {
	content: ' ';
	border: 2px solid rgb(228, 198, 147);
	border-width: 2px 0 0 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 14px;
	right: 21px;
	}

.img-100wide {
	width:100%;
	height: auto;
}


	
.circler {
	border: 10px solid rgb(0, 0, 0);
	border-radius: 50%;
	}

.circler-1 {
	border-color: rgb(228, 198, 147);
	}
	
.circler-half{
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	text-align: center;
	}
	
/* CROPS ANYTHING INTO A CIRCLE */
.imagecropcircle {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	}	
	
	
/* = = =  MOBILE  = = = = = = = = = = = = = = = = = = = */

@media screen and (max-width: 960px) {
	h1, .blogt1 {	
		font-size: 3.5em;
		}
	h2, blogt2 {
		margin-left: 0px;	
		}
	.home-headline, .footer-announcement {
		font-size: 2.8em;
		}
	.home-welcome {
		padding: 3em 2em 2.5em;
		}
	.home-welcome p {
		font-size: 1.3em;
		line-height: 1.2em;
		text-align: left;
		}
	.home-welcome p:first-child:first-letter {
		font-size: 4em;
		14px 5px 0px 0px;		
		}
	.home-welcome-image{
		display:block;
		width:400px;
		height:400px;
		}		
	.home-blog {
		padding: 2em 0em 2em;		
		}				
	.home-blog-section-title {
		padding: 0em 2em;
		}
	.home-blog-title{
		}	
	.home-blog-title h3 {
		font-size: 1.75em;
		}
	.home-content {
		padding: 2em 2em 2em;
		}	
	.page-banner {
		padding: 2em 0em 1.25em;		
		}
	.page-banner-title {
		}
	.page-subhead {
		font-size: 1em;
		line-height: 1.2em;
		}
	.page-content {
		padding: 1em 2em;
		}
	.footer-menu-box-title {
		}
	.hider {
		display: none;
		}	
	@keyframes logo-in {
	from {opacity:0; height: 15em; padding: 2em 0;} 
	to {opacity:1; height: 23em; padding: 0em 0;}
	}		
}

@media screen and (max-width: 768px) {
	.home-headline, .footer-announcement {
			font-size: 3em;
		}
	@keyframes logo-in {
	from {opacity:0; height: 10em; padding: 2em 0;} 
	to {opacity:1; height: 30em; padding: 0em 0; margin: 20px 0}	
}

@media screen and (max-width: 500px) {
	.home-headline, .footer-announcement {
		font-size: 2.4em;
		}
	.home-blog-section {
		padding: 0em 1em;
		}
	.home-blog-title {
		padding: 0em 1em;
		}
	@keyframes logo-in {
	from {opacity:0; height: 10em; padding: 2em 0;} 
	to {opacity:1; height: 14em; padding: 0em 0; margin: 40px 0 20px 0;}
	}		
}

@media screen and (max-width: 425px) {
	
	h1, .blogt1 {
		font-size: 2.5em;
	}
	h2, blogt2 {
		font-size: 2em;
	}
	p, li {
		font-size:1em;
	}
	
	.home-headline, .footer-announcement {
		font-size: 2.2em;
		}
	.home-blog-img {
		display:none;
		}
	.home-welcome-image{
		display:block;
		width:300px;
		height:300px;
		}
	
	@keyframes logo-in {
	from {opacity:0; height: 10em; padding: 2em 0;} 
	to {opacity:1; height: 17em; padding: 0em 0; margin: 40px 0 20px 0;}
	}
		
}

@media screen and (max-width: 375px) {
	
@keyframes logo-in {
	from {opacity:0; height: 8em; padding: 3em 0;} 
	to {opacity:1; height: 15em; padding: 0 0; margin: 40px 0 20px 0;}
	}

body .gform_wrapper .top_label .gfield_left_half, body .gform_wrapper .top_label .gfield_right_half {
	width: 100%;
	}

.home-headline, .footer-announcement {
	font-size: 2em;
	}

.home-blog-img {
	display:none;
	}
	
.gallery-item {
	max-width: 120px;
	max-height: 120px;
	} 	
}
		

@media screen and (max-width: 320px) {
	
@keyframes logo-in {
	from {opacity:0; height: 6em; padding: 3em 0;} 
	to {opacity:1; height: 15em; padding: 0 0; margin: 40px 0 20px 0;}
	}

	.ani-logo-in img {
	display:block;
	max-width: 200px;
	max-height: 150px;
	width: auto;
	height: auto;
	}	

	h1, .blogt1 {	
		font-size: 3em;
		}
		
	.page-banner {
		padding: 2em 0em 1.25em;
		}
	.page-subhead {
		font-size: 0.7em;
		}
		
	.home-headline, .footer-announcement {
		font-size: 1.8em;
		}
		
	.quicklink-button {
		padding: 0.8em 1.33em;
		margin: 2px 6px;
		border-radius: 35px;	
		font-size: 1.3em;
	}	
	.home-blog-title {
		padding:0 0 0 10px;
	}
	.home-blog-img {
		display:none;
	}
	
}